<ul class="nav navbar-nav navbar-right">
  {{#if currentUser}}

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="true">{{req.user.displayName}} <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="download">
        <li>
          {{#link-to 'user.findOne' req.user.id}}{{t 'Profile'}}{{/link-to}}
        </li>
        <li><a href="./bootstrap.css">bootstrap.css</a></li>
        <li class="divider"></li>
        <li><a href="./variables.less">variables.less</a></li>
        <li><a href="./bootswatch.less">bootswatch.less</a></li>
        <li class="divider"></li>
        <li><a href="./_variables.scss">_variables.scss</a></li>
        <li class="divider"></li>
        <li>{{#link-to 'auth.logout'}}
          <i class="glyphicon glyphicon-log-out"></i> {{t 'Logout'}}
        {{/link-to}}</li>
      </ul>
    </li>

  {{else}}
    <li>{{#link-to 'auth.loginPage'}}{{t "login.block.button.text"}}{{/link-to}}</li>
    <li>{{#link-to 'auth.signupPage'}}{{t "login.block.form.new.account.link"}}{{/link-to}}</li>
  {{/if}}
</ul>