<div class="container"><div class="row">
  {{#region 'highlighted' class="col col-md-12"}}{{/region}}
  <div class="conference-sidebar col col-md-3">
    <h4>Admin Menu</h4>
    <ul class="nav nav-pills sidebar-menu nav-stacked">
      <li>{{#link-to 'conference_admin' conference.id}}{{t 'conference_admin'}}{{/link-to}}</li>
      <li>{{#link-to 'conference_admin_edit' conference.id}}{{t 'conference_admin_edit'}}{{/link-to}}</li>
      <li>{{#link-to 'conference_admin_menu' conference.id}}{{t 'conference_admin_menu'}}{{/link-to}}</li>
      <li>{{#link-to 'conference_admin_layout' conference.id}}{{t 'conference_admin_layout'}}{{/link-to}}</li>
    </ul>
  </div>
  <content class="col col-md-9">
    <h2>{{title}}</h2>
    {{{body}}}
  </content>
</div></div>