<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{{render-metadata-tags}}}

    <title>{{title}}</title>
    <script type="text/javascript" src="/public/project/client/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/plugin/we-core/client/shared/libs/jquery-ui/jquery-ui.min.css">

    <link href="/public/plugin/we-core/files/css/bootstrap.css" rel="stylesheet" type="text/css">

    {{{render-stylesheet-tags}}}

    <meta name="csrf-token" content="{{_csrf}}" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
  <header id="header" role="banner">
    <div class="main-nav">
      <div class="container">
        <div class="header-top">
          <div class="pull-right social-icons">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
          <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {{#link-to 'conference_findOne' conference.id class="navbar-brand"}}
                {{#if conference_logo_src}}
                  <img class="img-responsive" src="{{conference_logo_src}}" alt="{{conference.title}} logo">
                {{else}}<span class="nav-brand-text">{{conference.title}}</span>{{/if}}
              {{/link-to}}
            </div>
            <div class="collapse navbar-collapse">
              {{we-cf-menu 'main'}}
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--/#header-->

  <section id="home">
    <div class="highlighted">
    {{#if conference.banner}}
      <img class="event-featured-image" src="{{conference_banner.urls.large}}">
    {{/if}}
    </div>
  </section>

  {{{layoutHtml}}}

  {{{template 'footer'}}}

  {{{render-bootstrap-config}}}
  <script type="text/javascript" src="/public/plugin/we-core/client/shared/libs/jquery-ui/jquery-ui.min.js"></script>
  <script src="/public/project/client/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/public/project/client/bower_components/page/page.js"></script>
  <script type="text/javascript" src="/public/plugin/we-core/files/javascript/we.js"></script>
  <script type="text/javascript">window.we.initialize();</script>
</body>
</html>