<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{#each conference.favicon}}
      <link rel="shortcut icon" href="{{urls.thumbnail}}" type="image/x-icon" />
    {{/each}}

    {{{render-metadata-tags}}}
    {{{render-stylesheet-tags}}}
    {{{render-javascript-tags 'header'}}}

    <meta name="csrf-token" content="{{_csrf}}" />
</head><!--/head-->

<body class="{{model}} {{model}}-{{id}} cf cf-{{conference.id}} {{action}}">
  <header id="header" role="banner">
    <div class="main-nav">
      <div class="container">
        <div class="header-top">
          <div class="pull-right social-icons">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            {{#link-to 'conference.findOne' conference.id class="navbar-brand"}}
              {{#each conference.logo}}
                <img class="img-responsive" src="{{urls.medium}}" alt="{{../conference.title}} logo">
              {{else}}
                <span class="nav-brand-text">{{conference.abbreviation}}</span>
              {{/each}}

            {{/link-to}}
          </div>
          <div class="collapse navbar-collapse">
            {{we-menu userMenu}}
            {{{we-cf-menu conference.mainMenu}}}
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="home">
    <div class="highlighted">
    {{#each conference.banner}}
      <img class="event-featured-image img-responsive" src="{{urls.original}}">
    {{/each}}
    </div>
  </section>

  {{{layoutHtml}}}

  {{{template 'footer'}}}
  {{{render-client-component-templates}}}
</body>
</html>