<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} | {{/if}}{{req.we.config.appName}}</title>

    {{#each event.favicon}}
      <link rel="shortcut icon" href="{{urls.thumbnail}}" type="image/x-icon" />
    {{/each}}

    {{{render-metadata-tags}}}
    {{{render-stylesheet-tags}}}
    {{{render-javascript-tags 'header'}}}

    {{#if _csrf}}<meta name="csrf-token" content="{{_csrf}}" />{{/if}}
</head>
<body class="{{#if model}}{{model}} {{model}}-{{id}}{{/if}} {{action}}">
  {{we-event event="we-html-body-start"}}
  {{{template 'partials/header'}}}
  <section id="home">
    <div class="highlighted">
    {{#each event.banner}}
      <img class="event-featured-image img-responsive" src="{{urls.original}}">
    {{/each}}
    </div>
  </section>

  {{{layoutHtml}}}

  {{{template 'footer'}}}
</body>
</html>