<div id="sponsor">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h2>{{widget.title}}</h2>
        <div class="carousel-inner">
          <div class="item active">
            <ul>
              {{#each widget.partners}}
                <li>
                {{#if link}}
                  <a target="_blank" href="{{link}}">{{#each logo}}{{we-image this 'original' class="img-responsive"}}{{/each}}</a>
                {{else}}
                  {{#each logo}}{{we-image this 'original' class="img-responsive"}}{{/each}}
                {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="light">
    <img class="img-responsive" src="/public/theme/we-theme-event/images/light.png">
  </div>
</div>
