<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{{render-metadata-tags}}}

    <title>{{title}}</title>

    {{{render-stylesheet-tags}}}
    {{{render-javascript-tags 'header'}}}

    <meta name="csrf-token" content="{{_csrf}}" />
</head><!--/head-->

<body>
  <header id="header" role="banner">
    <div class="main-nav">
      <div class="container">
        <div class="header-top">
          <div class="pull-right social-icons">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    {{#link-to 'main.index' class="navbar-brand"}}
                      {{#if conference_logo_src}}
                        <img class="img-responsive" src="{{conference_logo_src}}" alt="{{title}} logo">
                      {{else}}
                        <span class="nav-brand-text">{{title}}</span>
                      {{/if}}
                    {{/link-to}}
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="scroll">{{#link-to 'main.index'}}{{t 'Home'}}{{/link-to}}</li>
                    <li class="scroll">{{#link-to 'conference.find'}}{{t 'conference.find'}}{{/link-to}}</li>
                    {{{template 'user/usermenu'}}}
                  </ul>
                </div>
            </div>
          </div>
        </div>
    </header>
  <!--/#header-->
  <section id="home">
    <div class="highlighted">
    {{#if conference.banner}}
      <img class="event-featured-image" src="{{conference_banner.urls.large}}">
    {{/if}}
    </div>
  </section>
  {{{layoutHtml}}}

  {{{template 'footer'}}}
  {{{render-client-component-templates}}}

</body>
</html>